<div style="margin-top: 400px">
  <div class="row mb-1">
    <div class="col-3">
      <label>Долгота</label>
      <input type="number" class="form-control" placeholder="Долгота" [(ngModel)]="longitude" name="longitude">
    </div>
    <div class="col-3">
      <label>Широта</label>
      <input type="number" class="form-control" placeholder="Широта" [(ngModel)]="latitude" name="latitude">
    </div>
    <div class="col-3" style="margin-top: 23px">
      <button class="btn btn-outline-secondary" type="button" (click)="findLocation()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <div id="map"></div>
</div>
